<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>786892001449-trk61dg4q4efububjh7j48ur86aabnb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786892001449-trk61dg4q4efububjh7j48ur86aabnb5</string>
	<key>API_KEY</key>
	<string>AIzaSyBbnNQgAo8ll6n2o273d-nD1EoxwmNPFG0</string>
	<key>GCM_SENDER_ID</key>
	<string>786892001449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofia-uni.shushu-mushu</string>
	<key>PROJECT_ID</key>
	<string>shushu-mushu</string>
	<key>STORAGE_BUCKET</key>
	<string>shushu-mushu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786892001449:ios:9ea75a57856c1c79</string>
	<key>DATABASE_URL</key>
	<string>https://shushu-mushu.firebaseio.com</string>
</dict>
</plist>