<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shushu-mushu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD77D48B203300B1005453A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD77D49F203300B1005453A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD77D4AA203300B1005453A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
